<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<h2>convert normal number to roman number </h2>
<ul>
  

  <li>
    Normal Number:  <input type="number" [formControl]="formControlNumber">

  </li>
  <li>
      Roman Number: {{romanNumber}}

  </li>
</ul>

